body {
    background-color: #5a5a5a!important;
}

.navbar-toggler {
    background-color: white!important;
}

.card {
    cursor: pointer;
}

.card-img-top {
    width: 100%!important;
    height: 320px;
    object-fit: cover;
    border: solid 1px #000000;
    background-color: bisque;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
.main-content {
    flex: 1;
}
  
footer {
    margin-top: auto;
}

.error-alert {
    margin: 10em;
}

.bi-sign-stop {
    font-size: xx-large;
}

.card-title {
    margin-bottom: auto;
}

.card button {
    width: fit-content;
    margin: 0 auto;
}

.card-body {
    background-color: rgb(235, 198, 130);
}

.detailed-card {
    max-width: 100%;
    height: auto !important;
    object-fit: contain;
    padding: 15px;
}

@media (max-width: 768px) {
    .detailed-card {
        max-height: 400px;
        padding: 10px;
    }
}

