body {
    background-color: #5d5d5d!important;
}

.navbar-toggler {
    background-color: white!important;
}

/* .alert {
    background-color: #ebbe6b!important;
    color: #000000!important;
} */

.card {
    cursor: pointer;
}

.card-img-top {
    width: 100%!important;
    height: 400px;
    object-fit: cover;
    border: solid 1px #000000;
}

.card-body {
    height: 150px;
}



